.copyright
    - var hexoURL = "https://hexo.io/";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == config.startyear ? year : config.startyear + ' - ' + year;
    if config.upyun
        p.upyun
            a(href="https://www.upyun.com/")
                img(src="/assets/upyun.svg", alt="upyun") 
            | Providing CDN services
    p &copy; #{year} #[a(href=config.url)= config.author], powered by #[a(href=hexoURL, target="_blank") Hexo]
