doctype
html(lang=config.language)
  head
    include head
  body
    .wrap
      header
        a.logo-link(href=url_for())
          img(src=url_for(theme.logo) alt="logo")
        include nav
      main.container
        block container
        block pagination
      footer
        block copyright
    script.
      var _hmt = _hmt || [];
      (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?9d3c283ac6d31d6be6d9445a4c49b6ca";
        var s = document.getElementsByTagName("script")[0]; 
        s.parentNode.insertBefore(hm, s);
      })();
    script(src="https://www.googletagmanager.com/gtag/js?id=UA-178111552-1", async)
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-178111552-1');

