.tags,
.categories {
    padding: 0 2em;
    display: flex;
    flex-wrap: wrap;

    a.tag-item-link,
    a.category-item-link {
        margin: 0.25rem;
        padding: 3px 6px;
        border-radius: 5px;
        font-size: 12px;
        color: white;
    }

    a.tag-item-link {
        background-color: #70a19f;
    }

    a.category-item-link {
        background-color: #759FBD;
    }

}


.archive {
    max-width: 500px;
    margin: auto;
    padding: 2em 0;

    .archive-header {
        margin: .5rem 0 .25rem;
    }

    .post-item {
        padding: 2px 0 0 50px;
    }

    .post-time,
    .post-title-link {
        font-size: 1rem;
    }

    .post-title-link {
        display: block;
        margin-left: 125px;
        color: #4d939f;
        word-break: break-all;

        &:hover {
            border-bottom: 0;
            color: #3b3e47;
        }
    }

    .post-info {
        float: left;
        width: 125px;
        color: #7f8c8d;
    }
}