@media screen and (min-width: 820px) {
    .wrap {
        width: 820px;
        margin: 0 auto;
    }

    header {
        padding: 20px 100px;
    }
}

@media screen and (max-width: 820px) {

    .tags,
    .categories {
        padding: 0;
    }

    .wrap {
        width: 100%;
    }

    footer {
        margin: 8px 24px;
    }

    main.container {
        margin: 0 24px;
    }

    header {
        margin: 1em 2em;
        margin-bottom: 0px;

        a.logo-link,
        ul.nav.nav-list {
            float: none;
            display: block;
            text-align: center;
        }

        li.nav-list-item {
            padding: 10px 10px;
        }
    }

    .archive .post-item {
        padding-left: 20px;
    }

    .post-content {

        h2,
        h3,
        h4,
        h5,
        h6 {
            max-width: 300px;
            left: 15px;
        }
    }
}